body {
  background-color: #222222;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1024px;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

hr {
  /* background-color: transparent; */
  border: none;
  border-top: 1px solid #8c8b8b;
  margin: 10px 0;
}

.desc {
  margin-top: 30px;
}

.ml-4 {
  margin-left: 20px;
}

audio {
  width: 100%;
}

.desc {
  padding: 20px;
  background-color: #303030;
  border-radius: 15px;
  border: 1px solid #737373;

  &__image {
    height: 130px;
    width: 165px;
    border-radius: 15px;
    vertical-align: middle;
    object-fit: cover;
    flex-shrink: 0;
    // line-height: 1;
    // display: block;
    border-style: none;
  }
}

.mt-4 {
  margin-top: 20px;
}

.main-wrapper {
  display: flex;
  @media only screen and (max-width: 940px) {
    flex-direction: column;
  }
}

.desc__header {
  // margin-top: 20px;
  display: flex;
  @media only screen and (max-width: 470px) {
    flex-direction: column;
    text-align: center;
  }
}

.desc__image {
  margin-right: 20px;
  // display: inline;

  @media only screen and (max-width: 470px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
