body {
  background-color: #222222;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 1024px;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

hr {
  /* background-color: transparent; */
  border: none;
  border-top: 1px solid #8c8b8b;
  margin: 10px 0;
}

.desc {
  margin-top: 30px;
}

.ml-4 {
  margin-left: 20px;
}

audio {
  width: 100%;
}

.desc {
  padding: 20px;
  background-color: #303030;
  border-radius: 15px;
  border: 1px solid #737373;
}

.mt-4 {
  margin-top: 20px;
}
