.question {
  background-color: #303030;
  padding: 30px;

  display: flex;

  border-radius: 10px;

  @media only screen and (max-width: 570px) {
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }
}

.audio-container {
  margin-top: 20px;
}

.question__image {
  height: 130px;
  width: 165px;
  border-radius: 15px;
  vertical-align: middle;
  object-fit: cover;
  flex-shrink: 0;
  // line-height: 1;
  // display: block;
  border-style: none;
}

.question__main {
  flex: 1;
  margin-left: 15px;
  padding-left: 40px;
  padding-right: 40px;

  @media only screen and (max-width: 570px) {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }
}

.question__name {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.playback-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid lightgreen;
  background-color: transparent;
  appearance: none;
  outline: none;
}

.playback-btn.pause {
  background-size: 60% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img//pause.svg');
}
.playback-btn.play {
  background-size: 50% auto;
  background-position: 61% 50%;
  background-repeat: no-repeat;
  background-image: url('../img//play.svg');
}

.controls {
  margin-top: 20px;

  display: flex;
  position: relative;
  align-items: center;
}

.timebar-time-info {
  display: flex;
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 15px));
  width: 100%;
}

.timebar-time-info div:last-child {
  margin-left: auto;
}

.timebar.bar {
  margin-left: 25px;
  flex: 1;
  position: relative;
  height: 3px;
  background-color: lightgreen;
}

.timebar-circle {
  background-color: #737373;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid #444;
  left: 0;
}
